<a href="https://colab.research.google.com/github/Mimansha104/house-price-prediction-model/blob/main/house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bengaluru-house-price-data/Bengaluru_House_Data.csv

In [ ]:
df= pd.read_csv('/kaggle/input/bengaluru-house-price-data/Bengaluru_House_Data.csv')

In [ ]:
df.shape

(13320, 9)

In [ ]:
df.sample(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
12837,Super built-up Area,Ready To Move,Electronic City,2 BHK,GMown E,1025,2.0,1.0,54.0
6092,Built-up Area,Ready To Move,Bommanahalli,2 BHK,NaN,1290,2.0,1.0,73.0
6612,Super built-up Area,17-May,Whitefield,2 BHK,SVineun,1100,2.0,1.0,37.0
5958,Plot Area,18-May,TC Palaya,3 Bedroom,NaN,1200,2.0,0.0,66.0
12879,Built-up Area,Ready To Move,Bannerghatta Road,2 BHK,Malmser,1206,2.0,3.0,53.0

In [ ]:
df['location'].values

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       'Raja Rajeshwari Nagar', 'Padmanabhanagar', 'Doddathoguru'],
      dtype=object)

In [ ]:
df.duplicated().value_counts()

False    12791
True       529
dtype: int64

In [ ]:
df.drop_duplicates(keep='first',inplace=True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.shape

(12791, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12791 entries, 0 to 13318
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     12791 non-null  object
 1   availability  12791 non-null  object
 2   location      12790 non-null  object
 3   size          12775 non-null  object
 4   society       7463 non-null   object
 5   total_sqft    12791 non-null  object
 6   bath          12718 non-null  float64
 7   balcony       12186 non-null  float64
 8   price         12791 non-null  float64
dtypes: float64(3), object(6)
memory usage: 999.3+ KB

In [ ]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5328
total_sqft         0
bath              73
balcony          605
price              0
dtype: int64

In [ ]:
df['society'].value_counts()

GrrvaGr    68
PrarePa    63
Sryalan    56
Prtates    54
GMown E    52
           ..
DSidePr     1
SVhyaga     1
SunetSo     1
SRzonhu     1
SrentAp     1
Name: society, Length: 2688, dtype: int64

In [ ]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [ ]:
df['area_type'].value_counts()

Super built-up  Area    8317
Built-up  Area          2398
Plot  Area              1989
Carpet  Area              87
Name: area_type, dtype: int64

In [ ]:
df['availability'].value_counts()

Ready To Move    10172
18-May             292
18-Dec             284
18-Apr             269
18-Aug             187
                 ...
14-Jul               1
16-Jul               1
15-Dec               1
16-Jan               1
16-Oct               1
Name: availability, Length: 81, dtype: int64

In [ ]:
df['location'].value_counts()

Whitefield                           523
Sarjapur  Road                       379
Electronic City                      287
Kanakpura Road                       249
Thanisandra                          229
                                    ...
Beml layout, Rajarajeshwari nagar      1
 Basavangudi                           1
Banashankari stage 2                   1
Bharat Nagar                           1
Chokkasandra                           1
Name: location, Length: 1305, dtype: int64

In [ ]:
df['size'].value_counts()

2 BHK         4931
3 BHK         4120
4 Bedroom      824
4 BHK          574
3 Bedroom      535
1 BHK          521
2 Bedroom      314
5 Bedroom      291
6 Bedroom      191
1 Bedroom      104
8 Bedroom       84
7 Bedroom       82
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
18 Bedroom       1
13 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
27 BHK           1
12 Bedroom       1
14 BHK           1
Name: size, dtype: int64

In [ ]:
df.corr()['price']

bath       0.453099
balcony    0.118645
price      1.000000
Name: price, dtype: float64

In [ ]:
df.dropna(subset=['size','location','bath','balcony'],inplace=True)

In [ ]:
df.isnull().sum()

area_type          0
availability       0
location           0
size               0
society         5041
total_sqft         0
bath               0
balcony            0
price              0
dtype: int64

In [ ]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [ ]:
df['size']=df['size'].apply(lambda x:x.split()[0])

In [ ]:
df['size']=df['size'].astype('float')
df['bath']=df['bath'].astype('float')
df['balcony']=df['balcony'].astype('float')

In [ ]:
df.corr()['price']

size       0.403773
bath       0.456304
balcony    0.118653
price      1.000000
Name: price, dtype: float64

In [ ]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3.0,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2.0,NaN,1200,2.0,1.0,51.00

In [ ]:
df['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [ ]:
df['size'].unique()

array([ 2.,  4.,  3.,  1.,  6.,  8.,  7.,  5., 11.,  9., 27., 43., 14.,
       12., 10., 13.])

In [ ]:
df['bath'].unique()

array([ 2.,  5.,  3.,  4.,  1.,  8.,  7.,  6.,  9., 27., 11., 12., 10.,
       40., 15., 13.])

In [ ]:
df.drop(columns=['availability','society'],inplace=True)

In [ ]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2.0,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4.0,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3.0,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3.0,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2.0,1200,2.0,1.0,51.00

In [ ]:
df['total_sqft']=df['total_sqft'].apply(lambda x:x.splitlines()[0])

In [ ]:
import re as re

In [ ]:
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    return " ".join(num)
df['total_sqft']=df['total_sqft'].apply(lambda x: find_number(x))

In [ ]:
df['total_sqft']=df['total_sqft'].apply(lambda x:x.split()[0])

In [ ]:
df['total_sqft'].value_counts()

1200    754
1100    208
1500    197
2400    178
600     170
       ...
2302      1
3080      1
881       1
1831      1
4209      1
Name: total_sqft, Length: 1790, dtype: int64

In [ ]:
df['total_sqft']=df['total_sqft'].astype('float')

In [ ]:
df.corr()['price']

size          0.403773
total_sqft    0.554139
bath          0.456304
balcony       0.118653
price         1.000000
Name: price, dtype: float64

In [ ]:
df['balcony'].value_counts()

2.0    4845
1.0    4700
3.0    1630
0.0    1010
Name: balcony, dtype: int64

In [ ]:
df['bath'].value_counts()

2.0     6472
3.0     3042
4.0     1080
1.0      760
5.0      427
6.0      242
7.0       82
8.0       42
9.0       26
10.0       6
15.0       1
40.0       1
11.0       1
12.0       1
13.0       1
27.0       1
Name: bath, dtype: int64

In [ ]:
df.shape

(12185, 7)

In [ ]:
df.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [ ]:
df['location']=df['location'].apply(lambda x: x.strip())
location_count=df['location'].value_counts()

In [ ]:
location_count_less_10= location_count[location_count<=10]
location_count_less_10

Dairy Circle             10
Doddakallasandra         10
Kalkere                  10
HAL 2nd Stage            10
Narayanapura             10
                         ..
Chokkahalli               1
Lakkasandra Extension     1
kanakapura main road      1
Okalipura                 1
NTI Layout                1
Name: location, Length: 1027, dtype: int64

In [ ]:
df['location']=df['location'].apply(lambda x: 'other'if x in location_count_less_10 else x)

In [ ]:
df['location'].value_counts()

other                   2806
Whitefield               498
Sarjapur  Road           352
Electronic City          287
Kanakpura Road           238
                        ...
Nagasandra                11
Karuna Nagar              11
LB Shastri Nagar          11
Prithvi Layout            11
Vishveshwarya Layout      11
Name: location, Length: 228, dtype: int64

In [ ]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2.0,1056.0,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4.0,2600.0,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3.0,1440.0,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3.0,1521.0,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2.0,1200.0,2.0,1.0,51.00

In [ ]:
df.describe()

               size    total_sqft          bath       balcony         price
count  12185.000000  12185.000000  12185.000000  12185.000000  12185.000000
mean       2.749282   1515.130817      2.631022      1.582273    107.631297
std        1.220753   1182.638686      1.240363      0.822561    134.022372
min        1.000000      1.000000      1.000000      0.000000      8.000000
25%        2.000000   1095.000000      2.000000      1.000000     50.000000
50%        3.000000   1262.000000      2.000000      2.000000     70.000000
75%        3.000000   1650.000000      3.000000      2.000000    115.000000
max       43.000000  52272.000000     40.000000      3.000000   2912.000000

In [ ]:
(df['total_sqft']/df['size']).describe()

count    12185.000000
mean       569.017628
std        388.019741
min          0.500000
25%        471.500000
50%        550.000000
75%        622.500000
max      26136.000000
dtype: float64

In [ ]:
df=df[((df['total_sqft']/df['size'])>=300)]
df.describe()

               size    total_sqft          bath       balcony         price
count  11502.000000  11502.000000  11502.000000  11502.000000  11502.000000
mean       2.616154   1551.120501      2.522953      1.586159    106.700546
std        0.933784   1202.054927      1.017260      0.814085    136.642477
min        1.000000    300.000000      1.000000      0.000000      9.000000
25%        2.000000   1105.000000      2.000000      1.000000     49.000000
50%        2.000000   1291.000000      2.000000      2.000000     69.240000
75%        3.000000   1680.000000      3.000000      2.000000    112.000000
max       13.000000  52272.000000     13.000000      3.000000   2912.000000

In [ ]:
df=df[(df['total_sqft']<36000)]
df.describe()

               size    total_sqft          bath       balcony         price
count  11499.000000  11499.000000  11499.000000  11499.000000  11499.000000
mean       2.615445   1540.196191      2.522393      1.586051    106.661856
std        0.931909    987.898266      1.016004      0.814057    136.620952
min        1.000000    300.000000      1.000000      0.000000      9.000000
25%        2.000000   1105.000000      2.000000      1.000000     49.000000
50%        2.000000   1290.000000      2.000000      2.000000     69.180000
75%        3.000000   1678.500000      3.000000      2.000000    111.500000
max       13.000000  35000.000000     13.000000      3.000000   2912.000000

In [ ]:
df['bath'].value_counts()

2.0     6386
3.0     2928
4.0      911
1.0      726
5.0      330
6.0      148
7.0       37
8.0       21
9.0        9
10.0       2
13.0       1
Name: bath, dtype: int64

In [ ]:
df.shape

(11499, 7)

In [ ]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2.0,1056.0,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4.0,2600.0,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3.0,1440.0,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3.0,1521.0,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2.0,1200.0,2.0,1.0,51.00

In [ ]:
df.to_csv("final_df.csv")

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
area_encoder= LabelEncoder()

In [ ]:
location_encoder=LabelEncoder()

In [ ]:

df['area_type']= area_encoder.fit_transform(df['area_type'])
df['location']= location_encoder.fit_transform(df['location'])

In [ ]:
df.head()

   area_type  location  size  total_sqft  bath  balcony   price
0          3        74   2.0      1056.0   2.0      1.0   39.07
1          2        56   4.0      2600.0   5.0      3.0  120.00
2          0       213   3.0      1440.0   2.0      3.0   62.00
3          3       151   3.0      1521.0   3.0      1.0   95.00
4          3       143   2.0      1200.0   2.0      1.0   51.00

In [ ]:
df.shape

(11499, 7)

In [ ]:
df.corr()['price']

area_type    -0.057803
location      0.079074
size          0.483763
total_sqft    0.676333
bath          0.523619
balcony       0.118215
price         1.000000
Name: price, dtype: float64

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe= OneHotEncoder(drop='first')

In [ ]:
X=df.drop(columns=['area_type','location','price']).iloc[:,:].values

In [ ]:
X_trans=ohe.fit_transform(df[['area_type','location']]).toarray()

In [ ]:
X=np.hstack((X,X_trans))

In [ ]:
X

array([[2.000e+00, 1.056e+03, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [4.000e+00, 2.600e+03, 5.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.000e+00, 1.440e+03, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [5.000e+00, 3.453e+03, 4.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.000e+00, 1.141e+03, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [4.000e+00, 4.689e+03, 4.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [ ]:
X.shape

(11499, 234)

In [ ]:
y=df['price'].values

In [ ]:
print(X.shape)
print(y.shape)

(11499, 234)
(11499,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9199, 234)
(2300, 234)
(9199,)
(2300,)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr= LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred=lr.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

0.6933611383838678

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dct=DecisionTreeRegressor()

In [ ]:
dct.fit(X_train,y_train)

DecisionTreeRegressor()

In [ ]:
y_pred1=dct.predict(X_test)

In [ ]:
r2_score(y_test,y_pred1)

0.40403864956350677

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr=RandomForestRegressor(n_estimators=200)

In [ ]:
rfr.fit(X_train,y_train)

RandomForestRegressor(n_estimators=200)

In [ ]:
y_pred2=rfr.predict(X_test)

In [ ]:
r2_score(y_test,y_pred2)

0.6880752377836971

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
import pickle

In [ ]:
pickle.dump(location_encoder, open('location_encoder.pkl','wb'))

In [ ]:
pickle.dump(area_encoder, open('area_encoder.pkl','wb'))

In [ ]:
pickle.dump(ohe, open('ohe.pkl','wb'))

In [ ]:
pickle.dump(lr,open('model.pkl','wb'))

In [ ]:
pickle.dump(rfr,open('Rfrmodel.pkl','wb'))